{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@.+?/(.*)$",
    "^typeorm/(.*)$",
    "^[\\w\\d-]+",
    "^[./]",
    "^~/(.*)$"
  ],
  "importOrderSeparation": true
}
